* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  background-color: #333333;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}
.img-ale {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10%;
}
.logo {
  width: 200px;
  padding-left: 20%;
}
.text-ale {
  font-family: 'Open Sans', sans-serif;
  color: white; 
}
.data-text {
  font-family: 'Open Sans', sans-serif; 
  color: white;
  
}
main {
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold;
}
main {
  background-color: #56F89A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 1%;
}
main select {
  width: 300px;
  padding: 2%;
  margin: 2%;
}
main input {
  width: 300px;
  padding: 2%;
  margin: 2%;
}

.each-student {
  border: 3px solid #FF009E;
  border-radius: 10px;
  background-color: white;
  margin: 1%;
  padding: 2%;
  width: 220px;
  height: 200px;
}
#containerEstudents {
  background-color: #EAE4E4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}